.main {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    color: white;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 9;


    .top-main {
        position: sticky;
        background: #121212;
        top: 0;
        height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        z-index: 5;

        .top-main-content{
            height: 100%;
            margin: 0 auto;
            display: flex;
            width: 75%;
            align-items: center;

            .btn-icon-search{
                display: none;
            }

            .search{
                position: relative;
                z-index: 5;

                .icon-search{
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%);
                }

                .search-bar {
                    background: rgb(32, 32, 32);
                    height: 40px;
                    padding-left: 40px;
                    border: none;
                    outline: none;
                    color: white;
                    border-radius: 999px;

                    &:focus{
                        background: rgb(50, 50, 50);
                    }
                }
                .btn-close-search {
                    display: none;
                    position: absolute;
                    top: 50%;
                    right: 50px;
                    transform: translate(0, -50%);
                    cursor: pointer;
                }
                &.visible {
                    display: block;
                }

                &.visible .search-bar {
                    display: block;
                }
            }
        }

        .nav-main{
            .menu-nav{
                display: flex;
                flex-direction: row;
                margin: 0;
                li{
                    list-style: none;
                }
                .nav-link {
                    text-decoration: none;
                    color: rgba(245, 245, 245, 0.5);
                    padding: .5rem 1rem;

                    &:hover {
                        color: rgba(245, 245, 245);
                    }
                    &.active {
                        font-weight: bold;
                        color: white;
                    }
                    &:active{
                        border: 1px solid white;
                    }
                }

            }
            .show-nav-main{
                color: #f5f5f5;
                display: none;
            }
        }
    }
    &.overlay:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

/* Smartphones */
@media only screen and (max-width: 736px) {
    .main {
        width: 100%;

        .top-main {
            width: 100%;
            padding: 20px;
            position: sticky;
            top: 0;

            .top-main-content {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                .btn-icon-search{
                    width: 25px;
                    height: auto;
                    display: block;
                }

                .search {
                    position: absolute;
                    width: 100%;
                    margin-bottom: 10px;
                    display: none;

                    .icon-search {
                        font-size: 25px;
                    }

                    .search-bar {
                        width: calc(100% - 40px);
                    }

                    &.visible {
                        display: block;
                    }

                    &.visible .search-bar {
                        display: block;
                    }
                    &.visible .btn-close-search {
                        display: block;
                    }
                }
            }

            .nav-main {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .menu-nav {
                    position: absolute;
                    left: 5%;
                    top: 100%;
                    display: none;
                    flex-direction: column;
                    width: 90%;
                    background: #121212;
                    padding: 20px;
                    z-index: 10;

                    li {
                        width: 100%;
                        text-align: left;
                        list-style: none;
                        padding: 16px 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                    }
                    .nav-link {
                        padding: 16px 80% 16px 0;
                        z-index: 5;
                        color: rgba(245, 245, 245, 0.5);

                        &:hover {
                            color: rgba(245, 245, 245);
                        }

                        &.active {
                            font-weight: bold;
                            color: white;
                        }
                    }
                }

                a {
                    text-decoration: none;
                }

                .show-nav-main {
                    height: 40px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: none;
                    background: none;
                    font-size: 14px;
                    gap: 5px;
                }

                .menu-nav.visible {
                    display: block;
                }
            }
        }
    }
}

/* iPads */
@media only screen and (min-width: 737px) and (max-width: 1024px) {
    .main {
        width: 100%;
        position: relative;

        .top-main {
            width: 100%;
            padding: 20px;
            position: sticky;
            justify-items: center;
            top: 0;

            .top-main-content {
                height: 100%;
                width: 75%;
                display: flex;
                align-items: center;
                .btn-icon-search{
                    display: none;
                }

                .search {
                }
            }

            .nav-main {
                width: 100%;
                display: flex;
                flex-direction: column;

                .menu-nav {
                    position: absolute;
                    left: 5%;
                    top: 100%;
                    display: none;
                    flex-direction: column;
                    width: 90%;
                    background: #121212;
                    padding: 20px;
                    z-index: 10;

                    li {
                        width: 100%;
                        text-align: left;
                        list-style: none;
                        padding: 16px 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                    }
                    .nav-link {
                        padding: 16px 80% 16px 0;
                        z-index: 5;
                        color: rgba(245, 245, 245, 0.5);

                        &:hover {
                            color: rgba(245, 245, 245);
                        }

                        &.active {
                            font-weight: bold;
                            color: white;
                        }
                    }
                }

                a {
                    text-decoration: none;
                }

                .show-nav-main {
                    height: 40px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: none;
                    background: none;
                    font-size: 14px;
                    gap: 5px;
                }

                .menu-nav.visible {
                    display: block;
                }
            }
        }
    }
}

/*scss trang distribution*/
.distribute-page{
    width: 100%;
    .distribute{
        margin: 0 auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        .span-1{
            margin-bottom: 20px;
            section{
                background: linear-gradient(315deg, rgb(32, 14, 67), rgb(3, 5, 86), rgb(4, 4, 24)) rgb(3, 5, 86);
                color: rgb(245, 245, 245);
                position: relative;
                border-radius: 4px;
                .container_section{
                    display: flex;
                    justify-content: center;
                    align-items: stretch;
                    border-radius: 16px;
                    border: 1px solid transparent;
                    overflow: hidden;
                    position: relative;

                    .left-container-span-1{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        .img-span-1{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .right-container-span-1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 40px;
                        flex: 1 1 0%;
                        gap: 40px;
                        text-align: center;
                        .logo-store{
                            width: 64px;
                            height: 100px;
                            .logo{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        h1{
                            font-size: 50px;
                            line-height: 35px;
                            letter-spacing: -1px;
                            margin: 0 auto;
                        }
                        .btn-developerportal{
                            a{
                                font-size: 12px;
                                letter-spacing: 0.5px;
                                font-weight: 500;
                                display: inline-flex;
                                position: relative;
                                border-radius: 4px;
                                text-transform: uppercase;
                                text-align: center;
                                align-items: center;
                                justify-content: center;
                                line-height: 15px;
                                padding: 0px 20px;
                                background-color: rgb(245, 245, 245);
                                color: rgb(18, 18, 18);
                                height: 50px;
                                min-width: 200px;
                                text-decoration: none;

                                &:before{
                                    transition: border 125ms ease-in-out 0s;
                                    content: "";
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid transparent;
                                    border-radius: 4px;
                                    pointer-events: none;
                                }

                                &:after{
                                    transition: opacity 200ms ease 0s;
                                    border-radius: 4px;
                                    background-color: rgb(255, 255, 255);
                                    opacity: 0;
                                }
                                .text-btn{
                                    font-weight: bold;
                                    font-size: 14px;
                                }
                            }
                        }
                        .subtitle{
                            .text-subtitle{
                                font-size: 16px;
                                line-height: 20px;
                                letter-spacing: 0;
                            }
                        }
                    }
                }
            }
        }
        .span-2, .span-3{
            margin-bottom: 20px;
            .container{
                padding: 0;
                width: 100%;
                gap: 16px;
                display: flex;
                .item-container{
                    border-radius: 16px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    width: 100%;
                    overflow: hidden;
                    background: rgb(18, 18, 18);
                    .content{
                        display: flex;
                        flex-direction: column;
                        -webkit-box-align: center;
                        align-items: center;
                        padding: 40px;
                        gap: 20px;
                        .img-card{
                            width: 160px;
                            height: 160px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .title{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            text-align: center;
                            flex: 1 1 0%;
                            h2{
                                color: rgb(245, 245, 245);
                                font-weight: 300;
                                font-size: 26px;
                                line-height: 35px;
                                margin: 0;

                                @media (min-width: 1440px){
                                    font-size: 30px;
                                    line-height: 35px;
                                    letter-spacing: -0.5px;
                                }
                            }
                            .subtitle{
                                h3{
                                    color: rgba(245, 245, 245, 0.6);
                                    font-size: 18px;
                                    line-height: 25px;
                                    letter-spacing: -0.2px;
                                    margin: 0;

                                    @media (min-width: 1440px){
                                        font-size: 22px;
                                        line-height: 30px;
                                        letter-spacing: -0.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .span-4{
            margin-bottom: 20px;
            .container{
                width: 100%;
                gap: 16px;
                display: flex;
                padding: 0;
                .left-container-span-4, .right-container-span-4{
                    border-radius: 16px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    width: 100%;
                    overflow: hidden;
                    background: linear-gradient(to right, rgb(0, 0, 0) 31%,
                    rgba(0, 0, 0, 0.8) 46%, rgba(0, 0, 0, 0.1) 63%,
                    rgba(0, 0, 0, 0.1) 82%) rgba(0, 0, 0, 0);

                    .content{
                        display: flex;
                        position: relative;
                        padding: 40px;
                        -webkit-box-align: center;
                        align-items: center;
                        gap: 15px;
                        .img-span-4{
                            position: relative;
                            width: 60%;
                            img{
                                max-width: 100%;
                                height: auto;
                                display: block;
                                transition: opacity 125ms ease-in-out 0s;
                                opacity: 1;
                            }
                        }
                        .title{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex: 1 1 0%;
                            height: 100%;
                            text-align: center;
                            .text{
                                transition: color 125ms ease-in-out 0s;
                                color: rgba(245, 245, 245, 0.6);
                                font-size: 18px;
                                line-height: 25px;
                                letter-spacing: -0.2px;
                            }
                            a{
                                display: block;
                                color: rgba(245, 245, 245, 0.6);
                                margin-top: 20px;
                                &:hover{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .span-5{
            margin-bottom: 20px;
            .container {
                width: 100%;
                gap: 16px;
                display: flex;
                padding: 0;
                .bg-content{
                    border-radius: 16px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    width: 100%;
                    overflow: hidden;
                    background: linear-gradient(to right, rgb(22, 39, 49) 31%,
                    rgba(22, 39, 49, 0.8) 46%, rgba(22, 39, 49, 0.1) 63%,
                    rgba(22, 39, 49, 0.1) 82%) rgba(22, 39, 49, 0);

                    .content{
                        display: flex;
                        position: relative;
                        padding: 40px;
                        align-items: center;
                        gap: 15px;

                        .left-content{
                            position: relative;
                            width: 60%;
                            img{
                                max-width: 100%;
                                height: auto;
                                display: block;
                                transition: opacity 125ms ease-in-out 0s;
                                opacity: 1;
                            }
                        }
                        .right-content{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex: 1 1 0%;
                            height: 100%;
                            .title{
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                align-items: center;
                                height: 100%;
                                justify-content: center;

                                .subtitle{
                                    transition: color 125ms ease-in-out 0s;
                                    color: rgba(245, 245, 245, 0.6);
                                    font-size: 18px;
                                    line-height: 25px;
                                    letter-spacing: -0.2px;
                                    @media (min-width: 1440px) {
                                        font-size: 18px;
                                        line-height: 25px;
                                        letter-spacing: -0.2px;
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    display: block;
                                    margin-top: 20px;
                                    font-size: 14px;
                                    font-weight: normal;
                                    line-height: 20px;
                                    letter-spacing: 0.2px;
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                                    color: rgba(245, 245, 245, 0.6);
                                    transition: all 125ms ease-in-out 0s;

                                    &:hover{
                                        color: white;
                                        border-bottom: 1px solid rgba(255, 255, 255);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .span-6{
            margin-bottom: 20px;
            .container {
                width: 100%;
                gap: 16px;
                display: flex;
                padding: 0;
                .bg-content{
                    border-radius: 16px;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    width: 100%;
                    overflow: hidden;
                    background: linear-gradient(to right, rgb(22, 39, 49) 31%,
                    rgba(22, 39, 49, 0.8) 46%, rgba(22, 39, 49, 0.1) 63%,
                    rgba(22, 39, 49, 0.1) 82%) rgba(22, 39, 49, 0);

                    &:nth-child(1){
                        background: linear-gradient(to right, rgb(14, 17, 40) 31%,
                        rgba(14, 17, 40, 0.8) 46%, rgba(14, 17, 40, 0.1) 63%,
                        rgba(14, 17, 40, 0.1) 82%) rgba(14, 17, 40, 0);;
                    }
                    &:nth-child(2){
                        background: linear-gradient(to right, rgb(26, 12, 71) 31%,
                        rgba(26, 12, 71, 0.8) 46%, rgba(26, 12, 71, 0.1) 63%,
                        rgba(26, 12, 71, 0.1) 82%) rgba(26, 12, 71, 0);
                    }
                    &:nth-child(3){
                        background: linear-gradient(to right, rgb(70, 35, 121) 31%,
                        rgba(70, 35, 121, 0.8) 46%, rgba(70, 35, 121, 0.1) 63%,
                        rgba(70, 35, 121, 0.1) 82%) rgba(70, 35, 121, 0);
                    }

                    .content{
                        display: flex;
                        position: relative;
                        padding: 40px;
                        align-items: center;
                        gap: 15px;

                        .left-content{
                            position: relative;
                            width: 60%;
                            img{
                                max-width: 100%;
                                height: auto;
                                display: block;
                                transition: opacity 125ms ease-in-out 0s;
                                opacity: 1;
                            }
                        }
                        .right-content{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            flex: 1 1 0%;
                            height: 100%;
                            .title{
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                align-items: center;
                                height: 100%;
                                justify-content: center;

                                .subtitle{
                                    transition: color 125ms ease-in-out 0s;
                                    color: rgba(245, 245, 245, 0.6);
                                    font-size: 18px;
                                    line-height: 25px;
                                    letter-spacing: -0.2px;
                                    @media (min-width: 1440px) {
                                        font-size: 18px;
                                        line-height: 25px;
                                        letter-spacing: -0.2px;
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    display: block;
                                    margin-top: 20px;
                                    font-size: 14px;
                                    font-weight: normal;
                                    line-height: 20px;
                                    letter-spacing: 0.2px;
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                                    color: rgba(245, 245, 245, 0.6);
                                    transition: all 125ms ease-in-out 0s;

                                    &:hover{
                                        color: white;
                                        border-bottom: 1px solid rgba(255, 255, 255);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .span-7{
            margin-bottom: 20px;
            .container{
                display: flex;
                flex-direction: column;
                width: 100%;
                .title{
                    align-self: center;
                    h2{
                        color: rgb(245, 245, 245);
                        align-items: center;
                        margin: 0;
                        line-height: 35px;
                        letter-spacing: -0.3px;
                        font-weight: 300;

                        @media (min-width: 1440px) {
                            font-size: 30px;
                            letter-spacing: -0.5px;
                        }
                    }
                }
                .list-questions{
                    list-style: outside none none;
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    .item-question{
                        width: 100%;
                        .question{
                            padding: 1em 0px;
                            border-bottom: 1px solid rgb(43, 43, 43);
                            .btn-show-question{
                                padding: 0px;
                                border: none;
                                font: inherit;
                                color: inherit;
                                background-color: inherit;
                                position: relative;
                                display: flex;
                                -webkit-box-align: baseline;
                                width: 100%;
                                align-items: center;


                                &:before{
                                    transition: border 125ms ease-in-out 0s;
                                    content: "";
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid transparent;
                                    border-radius: 4px;
                                    pointer-events: none;
                                }
                                .text-question{
                                    text-align: left;
                                    flex: 1 1 0%;
                                    h3{
                                        margin: 0;

                                    }
                                }
                                .icon-btn-add{
                                    display: block;
                                    line-height: 0;
                                    width: 30px;
                                    height: 30px;
                                    .icon{
                                        width: 100%;
                                        height: 100%;
                                    }
                                }

                                &:hover{
                                    color: #3264e6;
                                }
                            }
                            .asked-question{
                                margin: 20px 0;
                                .asked{
                                    color: rgba(245, 245, 245, 0.6);
                                    a{
                                        color: inherit;
                                        border-bottom: 1px solid rgba(245, 245, 245, 0.6);
                                        cursor: pointer;
                                        word-break: break-word;
                                        margin: 0 5px;

                                        &:hover{
                                            color: white;
                                        }
                                    }
                                    .icon-show-question{
                                        padding: 0 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 736px) {
    .distribute-page{
        .distribute{
            width: 90%;
            .span-1{
                section{
                    .container_section{
                        .left-container-span-1{
                            display: none;
                        }
                        .right-container-span-1{
                            gap: 30px;
                            .logo-store{
                                width: 40px;
                                height: 66px;
                            }
                            h1{
                                font-size: 30px;
                            }
                            .text-subtitle{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .span-2, .span-3, .span-4, .span-5, .span-6{
                .container{
                    flex-direction: column;
                }
                /*span-4*/
                .left-container-span-4, .right-container-span-4{
                    .content{
                        flex-direction: column;
                    }
                }
                /*span-5*/
                .container{
                    .bg-content{
                        .content{
                            flex-direction: column-reverse;
                            .left-content{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .span-7{
                .container{
                    .title{
                        h2{
                            font-size: 26px;
                        }
                    }
                    .list-questions{
                        .item-question{
                            .question{
                                .btn-show-question{
                                    .text-question{
                                        h3{
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                            .asked-question{
                                .asked{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Loading*/
.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}