*{
    box-sizing: border-box;
}

.header-distribute {
    display: flex;
    align-items: center;
    padding: 4px 24px;
    background-color: #18181C;
    height: 4.5rem;
    z-index: 10;
    position: relative;


    .btn-logo-show-hide-menu {
        display: flex;
        align-items: center;

        &.hide {
            display: none;
        }

        .list_extention{

            .btn-logo {
                display: flex;
                align-items: center;
                border: none;
                background: none;
                cursor: pointer;
                transition: .5s ease-in-out;
                gap: 10px;

                .img-logo {
                    color: white;
                }

                .icon-logo {
                    display: flex;
                    align-items: center;
                    transition: transform 0.3s ease;
                }

                &:hover{
                    color: white;

                    .icon-logo{
                        color: white !important;
                        margin-top: 5px;
                    }
                }
            }

            .dropdown_content-logo{
                display: none;
                position: absolute;

                .backgroungd_none{
                    height: 30px;
                }
                .column{
                    padding: 40px;
                    background: #202024;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    position: relative;
                    z-index: 15;
                    .column-1{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        .dropdown-column{
                            display: flex;
                            flex-direction: column;
                            width: 200px;
                            gap: 5px;
                            h4{
                                font-size: 20px;
                                color: #E6E6E6EA;
                                margin-bottom: 10px;
                                padding-left: 6px;
                            }
                            a{
                                align-content: center;
                                height: 32px;
                                color: #E6E6E6EA;
                                padding: 4px 10px;
                                border-radius: 10px;
                                text-decoration: none;
                                transition: color 0.5s ease, background-color 0.5s ease;
                                display: flex;
                                gap: 10px;

                                &:hover {
                                    background-color: rgba(170, 170, 174, 0.5);
                                }

                                .logo{
                                    background-color: #e6e6ea;
                                    background-position: center center;
                                    flex-shrink: 0;
                                    height: 1.25rem;
                                    width: 1.25rem;
                                    mask-position: center center;
                                    mask-repeat: no-repeat;
                                    mask-size: cover;
                                }
                            }
                        }
                    }
                    .column-2{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        .dropdown-column{
                            display: flex;
                            flex-direction: column;
                            width: 300px;
                            gap: 5px;
                            h4{
                                font-size: 20px;
                                color: #E6E6E6EA;
                                margin-bottom: 10px;
                                padding-left: 6px;
                            }
                            a{
                                align-content: center;
                                height: 32px;
                                color: #E6E6E6EA;
                                padding: 4px 10px;
                                border-radius: 10px;
                                text-decoration: none;
                                transition: color 0.5s ease, background-color 0.5s ease;
                                display: flex;
                                gap: 10px;

                                &:hover {
                                    background-color: rgba(170, 170, 174, 0.5);
                                }

                                .logo{
                                    background-color: #e6e6ea;
                                    background-position: center center;
                                    flex-shrink: 0;
                                    height: 1.25rem;
                                    width: 1.25rem;
                                    mask-position: center center;
                                    mask-repeat: no-repeat;
                                    mask-size: cover;
                                }
                            }
                        }
                    }
                }

                &.show {
                    display: block;
                }

                &.hide {
                    display: none;
                }
            }
        }

        h1{
            padding: 8px;
        }
    }

    .navbar_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        flex-grow: 1;

        .mobile-drawer {
            align-items: center;
            box-sizing: border-box;
            column-gap: 1.5rem;
            display: flex;
            flex-grow: 1;

            .nav-links {
                display: flex;
                align-items: center;

                .navbar-item {
                    a {
                        white-space: nowrap;
                        width: auto;
                        text-decoration: none;
                        padding: 8px 16px;
                        margin-right: 5px;
                        color: #AAAAAE;
                        font-size: 14px;
                        border-radius: 10px;
                        transition: color 0.5s ease, background-color 0.5s ease;
                        position: relative;
                        display: block;
                        &:hover {
                            color: white;
                            background-color: #AAAAAE;
                        }
                    }
                }

                .distribute {
                    position: relative;

                    .showListDistri{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: none;
                        outline: none;
                        border: none;
                        padding: 8px 16px;
                        color: #AAAAAE;
                        transition: color 0.5s ease, background-color 0.5s ease;
                        border-radius: 10px;
                        span{
                            font-size: 14px;
                        }
                        .icon-showdistr{
                            display: none;
                        }

                        &:hover{
                            color: white;
                            background-color: #AAAAAE;
                        }
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        z-index: 10;

                        .backgroungd_none {
                            height: 50px;
                        }

                        .list-distribute {
                            background: #18181C;
                            width: 320px;
                            border-radius: 10px;
                            padding: .2rem .8rem;
                            position: relative;

                            .btn-back {
                                display: none;
                            }

                            .list {
                                padding: 0;

                                li {
                                    position: relative;
                                    list-style: none;
                                    padding: .4rem 0;
                                    width: 100%;

                                    a {
                                        display: block;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        .dropdown-content {
                            display: block;
                        }
                    }
                }
            }
            .toolbar {
                column-gap: 1.5rem;
                display: flex;
                flex-direction: row;
                flex: 1 1 100%;
                position: relative;
                justify-content: flex-end;
                z-index: 1;

                .tools {
                    align-items: center;
                    box-sizing: border-box;
                    display: flex;
                    gap: 0.75rem;
                    z-index: 4;

                    .languages {
                        position: relative;

                        .img-languages:hover {
                            filter: brightness(1.5);
                        }

                        .dropdown-language {
                            margin-left: -30px;
                            position: absolute;
                            width: 160px;
                            display: none;
                            z-index: 200;

                            .backgroungd_none {
                                height: 30px;
                            }

                            .list-languages {
                                z-index: 200;
                                border-radius: 10px;
                                padding: 16px;
                                background: #18181C;
                                display: flex;
                                flex-direction: column;
                                .btn-back{
                                    display: none;
                                }

                                .list{
                                    padding: 0;
                                    margin: 0;
                                    width: 100%;
                                    li{
                                        width: 100%;
                                        padding: .5rem 0;
                                        list-style: none;
                                        display: block;
                                    }
                                }

                                a {
                                    font-size: 14px;
                                    padding: 4px 10px;
                                    margin-bottom: 5px;
                                    text-decoration: none;
                                    color: rgba(255, 255, 255, 0.5);
                                    transition: color 0.5s ease, background-color 0.5s ease;
                                    border-radius: 5px;

                                    &:hover {
                                        background-color: #AAAAAE;
                                        color: rgb(255, 255, 255);
                                    }
                                }
                            }
                        }

                        &:hover {
                            .dropdown-language {
                                display: block;
                            }
                        }
                    }

                    .person {
                        .profile:hover {
                            filter: brightness(1.5);
                        }
                    }
                }
            }

            .download-btn {
                padding: 8px 16px;
                border: none;
                background-color: #26BBFF;
                color: black;
                cursor: pointer;
                border-radius: 5px;
                text-decoration: none;
                transition: filter 0.3s ease-in-out;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }

        .btn_menu-header {
            display: none;
            justify-content: flex-end;
        }
    }
}

/*Smartphones */
@media only screen and (max-width: 736px) {
    .menu-open{
        background: rgb(16, 16, 20);
    }
    .header-distribute {
        position: relative;
        width: 100%;
        padding: 20px;
        height: 70px;

        .btn-logo-show-hide-menu {
            .list_extention {
                .dropdown_content-logo {
                    .column {
                        gap: 10px;
                        flex-direction: column;
                        padding: 0 1rem;
                        margin: 0 1rem;
                        height: calc(100vh - 7rem);
                        overflow: auto;
                        overscroll-behavior: contain;
                        z-index: 20;

                        .column-1 {
                            gap: 0;
                        }
                    }
                }
            }
        }

        .navbar_header {
            h1 {
                margin: 0;
                text-transform: uppercase;
                font-size: 24px;
            }
            .mobile-drawer {
                display: none;
                height: calc(100vh - 4.4rem);
                flex-direction: column-reverse;
                position: absolute;
                top: 100%;
                right: 0;
                background: rgb(16, 16, 20);
                padding: 0 .5rem 128px;
                width: 100%;
                align-items: stretch;
                overflow: auto;

                &.active {
                    display: flex;
                }

                .main-nav {
                    position: relative;
                    height: 100%;

                    .nav-links {
                        margin: 0;
                        list-style: none;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .navbar-item {
                            background-color: #202024;
                            color: #e6e6ea;
                            border-radius: 0.75rem;
                            padding: .8rem;
                            text-align: start;
                            width: 100%;
                            height: 50px;
                            position: relative;

                            .showListDistri {
                                padding: 0 1rem;
                                width: 100%;
                                background: none;
                                border: none;
                                color: #AAAAAE;
                                display: flex;
                                justify-content: space-between;
                                font-size: 16px;

                                .icon-showdistr{
                                    display: block;
                                }
                            }

                            .dropdown-content{
                                position: absolute;
                                display: none;
                                top: 0;
                                left: 0;
                                z-index: 5;
                                background: #101014FF;
                                width: 100%;
                                height: 100%;

                                &.active{
                                    display: block;
                                }

                                .backgroungd_none{
                                    height: 0px;
                                }

                                .list-distribute {
                                    position: fixed;
                                    top: 4.5rem;
                                    left: 0;
                                    z-index: 10;
                                    background: inherit;
                                    width: 100%;
                                    height: 91%;

                                    &.active {
                                        display: block;
                                    }

                                    .btn-back {
                                        padding: 4px 1rem;
                                        background: none;
                                        border: none;
                                        color: white;
                                        font-size: 16px;
                                        display: flex;
                                        align-items: center;
                                    }

                                    .list {
                                        list-style: none;
                                        padding-left: 20px;
                                        background: inherit;
                                        width: 100%;
                                        height: 100%;

                                        li {
                                            width: 95%;
                                            background: rgba(170, 170, 174, 0.12);
                                            margin: 20px 0;
                                            padding: 12px 8px;
                                            border-radius: 10px;
                                        }

                                        a {
                                            text-decoration: none;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .toolbar {
                    flex: 0;
                    .tools {
                        display: flex;
                        justify-content: flex-end;
                        gap: 15px;
                        padding: 4px 20px;

                        .languages {
                            position: relative;
                            .img-languages {
                                cursor: pointer;
                            }

                            .dropdown-language {
                                position: absolute;
                                display: none;
                                top: 0;
                                left: 0;
                                z-index: 10;
                                background: #101014FF;
                                width: 100%;
                                height: 100%;

                                &.active {
                                    display: block;
                                }

                                .backgroungd_none{
                                    height: 0px;
                                }

                                .list-languages {
                                    position: fixed;
                                    top: 4.5rem;
                                    left: 0;
                                    z-index: 10;
                                    background: inherit;
                                    width: 100%;
                                    height: 100%;
                                    list-style: none;
                                    padding:0 20px;

                                    &.active {
                                        display: block;
                                    }
                                    .btn-back {
                                        padding: 4px 1rem;
                                        background: none;
                                        border: none;
                                        color: white;
                                        font-size: 16px;
                                        display: flex;
                                        align-items: center;
                                    }

                                    .list{
                                        position: relative;
                                        padding: 0;
                                        width: 100%;
                                        padding-left: 12px;
                                        li {
                                            list-style: none;
                                            width: 100%;
                                            background: rgba(170, 170, 174, 0.12);
                                            margin: 20px 0;
                                            padding: 16px 12px;
                                            border-radius: 10px;
                                        }

                                        a {
                                            text-decoration: none;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                        .person {
                            cursor: pointer;
                        }
                    }
                }

                .download {
                    display: flex;
                    inset-block-end: 0;
                    inset-inline: 0;
                    justify-content: center;
                    position: absolute;
                    padding: 0 24px 24px 24px;

                    .download-btn {
                        cursor: pointer;
                        width: 21.375rem;
                        color: #18181C;
                        border-radius: 0.5rem;
                        padding: 16px;
                        text-decoration: none;
                        text-align: center;
                        background: #26bbff;
                    }
                }
            }

            .btn_menu-header {
                display: flex;
            }
        }
    }
}

/*iPads */
@media only screen and (max-width: 1024px) {
    .menu-open{
        background: rgb(16, 16, 20);
    }
    .header-distribute {
        position: relative;
        width: 100%;
        padding: 20px;
        height: 70px;

        .navbar_header {
            h1 {
                margin: 0;
                text-transform: uppercase;
                font-size: 24px;
            }
            .mobile-drawer {
                display: none;
                height: calc(100vh - 4.4rem);
                flex-direction: column-reverse;
                position: absolute;
                top: 100%;
                right: 0;
                background: rgb(16, 16, 20);
                padding: 0 .5rem 128px;
                width: 100%;
                align-items: stretch;
                overflow: auto;

                &.active {
                    display: flex;
                }

                .main-nav {
                    position: relative;
                    height: 100%;

                    .nav-links {
                        margin: 0;
                        list-style: none;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .navbar-item {
                            background-color: #202024;
                            color: #e6e6ea;
                            border-radius: 0.75rem;
                            padding: .8rem;
                            text-align: start;
                            width: 100%;
                            height: 50px;
                            position: relative;

                            .showListDistri {
                                padding: 0 1rem;
                                width: 100%;
                                background: none;
                                border: none;
                                color: #AAAAAE;
                                display: flex;
                                justify-content: space-between;
                                font-size: 16px;

                                .icon-showdistr{
                                    display: block;
                                }
                            }

                            .dropdown-content{
                                position: absolute;
                                display: none;
                                top: 0;
                                left: 0;
                                z-index: 5;
                                background: #101014FF;
                                width: 100%;
                                height: 100%;

                                &.active{
                                    display: block;
                                }

                                .backgroungd_none{
                                    height: 0px;
                                }

                                .list-distribute {
                                    position: fixed;
                                    top: 4.5rem;
                                    left: 0;
                                    z-index: 10;
                                    background: inherit;
                                    width: 100%;
                                    height: 91%;

                                    &.active {
                                        display: block;
                                    }

                                    .btn-back {
                                        padding: 4px 1rem;
                                        background: none;
                                        border: none;
                                        color: white;
                                        font-size: 16px;
                                        display: flex;
                                        align-items: center;
                                    }

                                    .list {
                                        list-style: none;
                                        padding-left: 20px;
                                        background: inherit;
                                        width: 100%;
                                        height: 100%;

                                        li {
                                            width: 95%;
                                            background: rgba(170, 170, 174, 0.12);
                                            margin: 20px 0;
                                            padding: 12px 8px;
                                            border-radius: 10px;
                                        }

                                        a {
                                            text-decoration: none;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .toolbar {
                    flex: 0;
                    .tools {
                        display: flex;
                        justify-content: flex-end;
                        gap: 15px;
                        padding: 4px 20px;

                        .languages {
                            position: relative;
                            .img-languages {
                                cursor: pointer;
                            }

                            .dropdown-language {
                                position: absolute;
                                display: none;
                                top: 0;
                                left: 0;
                                z-index: 10;
                                background: #101014FF;
                                width: 100%;
                                height: 100%;

                                &.active {
                                    display: block;
                                }

                                .backgroungd_none{
                                    height: 0px;
                                }

                                .list-languages {
                                    position: fixed;
                                    top: 4.5rem;
                                    left: 0;
                                    z-index: 10;
                                    background: inherit;
                                    width: 100%;
                                    height: 100%;
                                    list-style: none;
                                    padding:0 20px;

                                    &.active {
                                        display: block;
                                    }
                                    .btn-back {
                                        padding: 4px 1rem;
                                        background: none;
                                        border: none;
                                        color: white;
                                        font-size: 16px;
                                        display: flex;
                                        align-items: center;
                                    }

                                    .list{
                                        position: relative;
                                        padding: 0;
                                        width: 100%;
                                        padding-left: 12px;
                                        li {
                                            list-style: none;
                                            width: 100%;
                                            background: rgba(170, 170, 174, 0.12);
                                            margin: 20px 0;
                                            padding: 16px 12px;
                                            border-radius: 10px;
                                        }

                                        a {
                                            text-decoration: none;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                        .person {
                            cursor: pointer;
                        }
                    }
                }

                .download {
                    display: flex;
                    inset-block-end: 0;
                    inset-inline: 0;
                    justify-content: center;
                    position: absolute;
                    padding: 0 24px 24px 24px;

                    .download-btn {
                        cursor: pointer;
                        width: 21.375rem;
                        color: #18181C;
                        border-radius: 0.5rem;
                        padding: 16px;
                        text-decoration: none;
                        text-align: center;
                        background: #26bbff;
                    }
                }
            }

            .btn_menu-header {
                display: flex;
            }
        }
    }
}