.about {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black;
    background: white;
    text-align: center;

    .title_about {
        font-size: 30px;
        font-weight: bold;
        top: 0;
    }

    .content_page {
        width: 75%;
        margin: 80px auto 0;

        h1 {
            font-size: 15px;
            font-weight: initial;
        }

        h2 {
            font-size: 25px;
            font-weight: bold;
        }

        h3{
            font-size: 15px;
            font-weight: initial;
            white-space: pre-line;
        }
    }



    .header_ask {
        margin-top: 5%;
    }

    .content_page h4 {
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .content_page p {
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .content_page a {
        color: #109aff;
        text-decoration: none;
    }

    .content_page a:hover {
        text-decoration: underline;
    }

    .title_frequently {
        margin-left: auto;
        margin-top: 5%;
        font-size: 25px;
        font-weight: bold;
    }

    .content_ask {
        margin-top: 5%;
    }
}
