.faq {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black;
    background: white;
    text-align: center;

    .title_faq {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        top: 0;
    }

    .content_mid {
        width: 75%;
        margin: 50px auto 0;

        h2 {
            font-size: 20px;
            margin-top: 20px;

            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 16px;
            line-height: 1.6;
            margin-top: 20px;
            font-weight: initial;
        }

        a {
            color: blue;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .table-container {
        max-width: 1000px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        table {
            width: 100%;
            border-collapse: collapse;

            th {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }

            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f4f4f4;
                font-weight: bold;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }
        }
    }
}
